---
import { socialLinkData } from "../data/socialData";
import Button from "./Button.astro";
import SvgLogo from "./Logo.astro";
import { SocialIcon } from "./SocialIcon";
---

<div
  class="sticky top-0 z-50 w-full border-black border-b-2 border-solid bg-bg py-4"
>
  <div class="container mx-auto flex justify-between">
    <a
      href="/"
      class="mx-4 my-auto fill-text font-thin text-4xl transition duration-300 ease-in-out hover:scale-105"
    >
      <SvgLogo />
    </a>
    <div class="mx-4 my-auto flex gap-4">
      <Button variant={"default"} label="Just a satisying button to click" />
      {
        socialLinkData.map((link) => {
          return link.label === "Email" ? (
            <Button
              href={link?.href}
              label="Email me"
              target="_blank"
              iconType={link.iconType}
            />
          ) : null;
        })
      }
    </div>
  </div>
</div>
